@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="center">
<h2>تم تأكيد حجزك بنجاح!</h2>
<p>شكرًا لك على حجزك.</p>



    <h2>الأنشطة السياحية</h2>


</div>
