
<h2 class="text-center ">الأنشطة السياحية بالقصيم</h2>



<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card ">
                <img src="~/img/ShuaibAlAdgham.jpg" class="card-img-top" alt="شعيب الأدغم">
                <div class="card-body">
                    <h5 class="card-title ">شعيب الأدغم</h5>
                    <p class="text-right">  رحلة تخييم في نفود القصيم عيش المغامرة ومتعة التخييم و التطعيس</p>
                    <a asp-action="sheeb" class="btn btn-primary"> أحجز الآن</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/img/HasatAlNasla.jpg" class="card-img-top" alt="حصاة النصلة">
                <div class="card-body">
                    <h5 class="card-title">حصاة النصلة</h5>
                    <p class="text-right">   رحلة برية لرؤية حصاة النصلة أو حصاة عنترة هي صخرة تقع في شمال غرب بريدة </p>
                    <a asp-action="HasatAlNasla" class="btn btn-primary"> أحجز الآن</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="~/img/JabalTumayyah.jpg" class="card-img-top" alt="جبل طمية">
                <div class="card-body">
                    <h5 class="card-title">جبل طمية</h5>
                    <p class="text-right">   رحلة برية لرؤية جبل طميه الذي يقع شمال غرب منطقة القصيم </p>
                    <a asp-action="JabalTumayyah" class="btn btn-primary"> أحجز الآن</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card ">
                <img src="~/img/UyunAlJawaaVillage.jpg" class="card-img-top" alt="القرية التراثية بعيون الجواء">
                <div class="card-body">
                    <h5 class="card-title">القرية التراثية بعيون الجواء</h5>
                    <p class="text-right">  جولة في القرية التراثية في عيون الجواء التي تحمل أهمية تاريخية </p>
                    <a asp-action="UyunAlJawaaVillage" class="btn btn-primary"> أحجز الآن</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="~/img/JadiahCastle.jpg" class="card-img-top" alt="قلعة جديعة التراثية">
                <div class="card-body">
                    <h5 class="card-title"> قرية الخبراء التراثية</h5>
                    <p class="text-right"> بنيت  قبل أكثر من 200 عام ، وتضم أكثر من 400 منزل</p>
                    <a asp-action="JadiahCastle" class="btn btn-primary"> أحجز الآن</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <img src="~/img/BurjAlShananah.jpg" class="card-img-top" alt="برج الشنانة بالرس">
                <div class="card-body">
                    <h5 class="card-title">برج الشنانة بالرس</h5>
                    <p class="text-right">  رحلة سياحية لبرج الشنانة بالرس لرية واحد من ابرز معالم منطقة القصيم</p>
                    <a asp-action="BurjAlShananah" class="btn btn-primary"> أحجز الآن</a>
                </div>
            </div>
        </div>
    </div>
</div>

